 <html>
<body>
    <div class="login">
       <h1>Credit Card Defaulter Prediction</h1>
   
       <form action="{{ url_for('predict_defaulter')}}" method="post">

        <div class="mb-3">
            <label class="form-label">ID</label>
            <input class="form-control" type="number" name="ID"
                placeholder="Enter your ID" />
            </div>

            <div class="mb-3">
                <label class="form-label">limit_bal</label>
                <input class="form-control" type="number" name="LIMIT_BAL"
                    placeholder="Enter limit_bal" />
            </div>
    
            <div class="mb-3">
                <label class="form-label">AGE</label>
                <input class="form-control" type="number" name="AGE"
                    placeholder="Enter your Age" min='0' max='100' />
            </div>

            <label for="BILL_AMT">Bill Amount:</label>
            <p>(amount of bill statement)</p>
            <label for="BILL_AMT6">April:</label>
            <input type="number" id="BILL_AMT6" name="BILL_AMT6" required>
            <label for="BILL_AMT5">May:</label>
            <input type="number" id="BILL_AMT5" name="BILL_AMT5" required>
            <label for="BILL_AMT4">June:</label>
            <input type="number" id="BILL_AMT4" name="BILL_AMT4" required>
            <label for="BILL_AMT3">July:</label>
            <input type="number" id="BILL_AMT3" name="BILL_AMT3" required>
            <label for="BILL_AMT2">August:</label>
            <input type="number" id="BILL_AMT2" name="BILL_AMT2" required>
            <label for="BILL_AMT1">September:</label>
            <input type="number" id="BILL_AMT1" name="BILL_AMT1" required><br>

            <label for="PAY_AMT">Pay Amount:</label>
            <p>(amount paid in previous statement)</p>
            <label for="PAY_AMT6">April:</label>
            <input type="number" id="PAY_AMT6" name="PAY_AMT6" required>
            <label for="PAY_AMT5">May:</label>
            <input type="number" id="PAY_AMT5" name="PAY_AMT5" required>
            <label for="PAY_AMT4">June:</label>
            <input type="number" id="PAY_AMT4" name="PAY_AMT4" required>
            <label for="PAY_AMT3">July:</label>
            <input type="number" id="PAY_AMT3" name="PAY_AMT3" required>
            <label for="PAY_AMT2">August:</label>
            <input type="number" id="PAY_AMT2" name="PAY_AMT2" required>
            <label for="PAY_AMT1">September:</label>
            <input type="number" id="PAY_AMT1" name="PAY_AMT1" required><br>

        <div class="mb-3">
            <label class="form-label">SEX</label>
            <select class="form-control" name="SEX" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="1">
                    Male
                </option>
                <option value="2">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">EDUCATION</label>
            <select class="form-control" name="EDUCATION" placeholder="Enter you education" required>
                <option class="placeholder" selected disabled value="">Select Education</option>
                <option value="1">
                  graduate_school
                </option>
                <option value="2">
                  university
                </option>
                <option value="3">
                  high_school
                </option>
                <option value="4">
                  others
                </option>
                <option value="5">
                  unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
          <label class="form-label">MARRIAGE</label>
          <select class="form-control" name="MARRIAGE"
              placeholder="Enter your marital status" required>
              <option class="placeholder" selected disabled value="">Select Marital status</option>
              <option value="1">
                  married
              </option>
              <option value="2">
                  single
              </option>
              <option value="3">
                  other_marriage
              </option>
          </select>
      </div>

  
          <label for="REPAY_STATUS">REPAYMENT STATUS:</label>
          <p>(-1=pay duly, 1=one month delay, 2=two months delay, … 9=delay for nine months and above)</p>
          <label for="PAY_6">April:</label>
          <input type="number" id="PAY_6" name="PAY_6" min="-2" max="9" value="0" required>
          <label for="PAY_5">May:</label>
          <input type="number" id="PAY_5" name="PAY_5" min="-2" max="9" value="0" required>
          <label for="PAY_4">June:</label>
          <input type="number" id="PAY_4" name="PAY_4" min="-2" max="9" value="0" required>
          <label for="PAY_3">July:</label>
          <input type="number" id="PAY_3" name="PAY_3" min="-2" max="9" value="0" required>
          <label for="PAY_2">August:</label>
          <input type="number" id="PAY_2" name="PAY_2" min="-2" max="9" value="0" required>
          <label for="PAY_0">September:</label>
          <input type="number" id="PAY_0" name="PAY_0" min="-2" max="9" value="0" required><br>
  

    
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict the defaulter" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{result}}
    </h2>
   <body>
</html>