 <html>
<body>
    <div class="login">
       <h1>credit card defaulter predictionr</h1>
   
       <form action="{{ url_for('predict_defaulter')}}" method="post">
        <h1>
            <legend>credit card defaulter prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="gender" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="1">
                    Male
                </option>
                <option value="2">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Education</label>
            <select class="form-control" name="education" placeholder="Enter you education" required>
                <option class="placeholder" selected disabled value="">Select Education</option>
                <option value="1">
                  graduate_school
                </option>
                <option value="2">
                  university
                </option>
                <option value="3">
                  high_school
                </option>
                <option value="4">
                  others
                </option>
                <option value="5">
                  unknown
                </option>
            </select>
        </div>
        <div class="mb-3">
          <label class="form-label">marriage</label>
          <select class="form-control" name="marriage"
              placeholder="Enter your marital status" required>
              <option class="placeholder" selected disabled value="">Select Marital status</option>
              <option value="1">
                  married
              </option>
              <option value="2">
                  single
              </option>
              <option value="3">
                  other_marriage
              </option>
          </select>
      </div>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input class="form-control" type="number" name="age"
                placeholder="Enter your Age" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">limit_bal</label>
            <input class="form-control" type="number" name="limit_bal"
                placeholder="Enter limit_bal" />
        </div>

        <fieldset>
          <legend>Behavioral Data:</legend>
  
          <label for="repay_status">Repayment Status:</label>
          <p>(-1=pay duly, 1=one month delay, 2=two months delay, … 9=delay for nine months and above)</p>
          <label for="pay_6">April:</label>
          <input type="number" id="pay_6" name="pay_6" min="-2" max="9" value="0" required>
          <label for="pay_5">May:</label>
          <input type="number" id="pay_5" name="pay_5" min="-2" max="9" value="0" required>
          <label for="pay_4">June:</label>
          <input type="number" id="pay_4" name="pay_4" min="-2" max="9" value="0" required>
          <label for="pay_3">July:</label>
          <input type="number" id="pay_3" name="pay_3" min="-2" max="9" value="0" required>
          <label for="pay_2">August:</label>
          <input type="number" id="pay_2" name="pay_2" min="-2" max="9" value="0" required>
          <label for="pay_1">September:</label>
          <input type="number" id="pay_1" name="pay_1" min="-2" max="9" value="0" required><br>
  
      <label for="bill_amt">Bill Amount:</label>
      <p>(amount of bill statement)</p>
      <label for="bill_amt_6">April:</label>
      <input type="number" id="bill_amt_6" name="bill_amt_6" required>
      <label for="bill_amt_5">May:</label>
      <input type="number" id="bill_amt_5" name="bill_amt_5" required>
      <label for="bill_amt_4">June:</label>
      <input type="number" id="bill_amt_4" name="bill_amt_4" required>
      <label for="bill_amt_3">July:</label>
      <input type="number" id="bill_amt_3" name="bill_amt_3" required>
      <label for="bill_amt_2">August:</label>
      <input type="number" id="bill_amt_2" name="bill_amt_2" required>
      <label for="bill_amt_1">September:</label>
      <input type="number" id="bill_amt_1" name="bill_amt_1" required><br>
    
      <label for="pay_amt">Pay Amount:</label>
      <p>(amount paid in previous statement)</p>
      <label for="pay_amt_6">April:</label>
      <input type="number" id="pay_amt_6" name="pay_amt_6" required>
      <label for="pay_amt_5">May:</label>
      <input type="number" id="pay_amt_5" name="pay_amt_5" required>
      <label for="pay_amt_4">June:</label>
      <input type="number" id="pay_amt_4" name="pay_amt_4" required>
      <label for="pay_amt_3">July:</label>
      <input type="number" id="pay_amt_3" name="pay_amt_3" required>
      <label for="pay_amt_2">August:</label>
      <input type="number" id="pay_amt_2" name="pay_amt_2" required>
      <label for="pay_amt_1">September:</label>
      <input type="number" id="pay_amt_1" name="pay_amt_1" required><br>
      </fieldset>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict the defaulter" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{result}}
    </h2>
   <body>
</html>